<% layout('layouts/boilerplate') %>

    <div class="container mt-3">

        <div class="my-3">
            <a href="/restaurants"><button type="button" class="btn btn-info">back to
                    all</button></a>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card bg-warning">

                    <% if (restaurant.type=="pizza-parlor" ) { %>
                        <img src="https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"
                            class="card-img-top" alt="pizza">
                        <% } %>

                            <% if (restaurant.type=="icecream-shop" ) { %>
                                <img src="https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1106&q=80"
                                    class="card-img-top" alt="ice cream">
                                <% } %>

                                    <% if (restaurant.type=="burger-place" ) { %>
                                        <img src="https://images.unsplash.com/photo-1586190848861-99aa4a171e90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"
                                            class="card-img-top" alt="burger">
                                        <% } %>

                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= restaurant.name %>, <%= restaurant.location %>
                                                </h5>
                                                <p class="card-text">things are going well at <%= restaurant.name %>.
                                                        keep
                                                        it
                                                        up.
                                                </p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">

                                                    <% if (restaurant.type=="pizza-parlor" ) { %>
                                                        pizza parlor
                                                        <% } %>

                                                            <% if (restaurant.type=="icecream-shop" ) { %>
                                                                ice cream shop
                                                                <% } %>

                                                                    <% if (restaurant.type=="burger-place" ) { %>
                                                                        burger place
                                                                        <% } %>

                                                </li>
                                                <li class="list-group-item">profit: <%= restaurant.profit %>
                                                </li>
                                                <li class="list-group-item">rating: <%= restaurant.rating %>
                                                </li>
                                                <li class="list-group-item">employees: <%= restaurant.numEmployees %>
                                                </li>
                                                <li class="list-group-item">size: ADD
                                                </li>
                                            </ul>
                                            <div class="card-body">
                                                <a href="#" class="card-link btn btn-light">expand</a>
                                                <a href="#" class="card-link btn btn-light">hire</a>
                                                <a href="#" class="card-link btn btn-light">marketing</a>
                                                <a href="/restaurants/<%= restaurant._id %>/edit"
                                                    class="card-link btn btn-light">edit</a>
                                            </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-warning mb-4">
                    <div class="card-body">
                        <h5 class="card-title mt-1">
                            menu
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% for (let dish of dishes) { %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <a href="/menu/<%= dish._id %>" class="link-secondary">
                                            <%= dish.stringName %>
                                        </a>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        Price: $<%= dish.price.toFixed(2) %>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        Qty: <%= dish.quantity %>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <form action="/<%= restaurant._id %>/cook/<%= dish._id %>?_method=PUT"
                                            method="POST"><button class="btn btn-info">cook</button>
                                        </form>
                                    </div>
                                </div>
                            </li>

                            <% } %>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-light">add</a>
                    </div>
                </div>

                <div class="card bg-warning mb-4">
                    <div class="card-body">
                        <h5 class="card-title mt-1">
                            supplies
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% for (i of ingredients) { %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <%= i.stringName %>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        Cost: $<%= i.price.toFixed(2) %>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        Qty: <%= i.quantity %>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <form action="/ingredients/<%= restaurant._id %>/<%= i.name %>?_method=PUT"
                                            method="POST">
                                            <button class="btn btn-info">buy</button>
                                        </form>

                                    </div>
                                </div>
                            </li>
                            <% } %>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-light">buy</a>
                        <a href="#" class="card-link btn btn-light">upgrade</a>
                    </div>
                </div>

                <div>
                    <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                        <div class="d-grid gap-2">
                            <button class="card-link btn btn-danger">delete restaurant</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>