<% layout('layouts/boilerplate') %>

    <div class="container mt-3">

        <div class="my-3">
            <a href="/restaurants"><button type="button" class="btn btn-info">back to
                    all</button></a>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card bg-warning">

                    <% if (restaurant.type=="pizza-parlor" ) { %>
                        <img src="https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"
                            class="card-img-top" alt="pizza">
                        <% } %>

                            <% if (restaurant.type=="icecream-shop" ) { %>
                                <img src="https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1106&q=80"
                                    class="card-img-top" alt="ice cream">
                                <% } %>

                                    <% if (restaurant.type=="burger-place" ) { %>
                                        <img src="https://images.unsplash.com/photo-1586190848861-99aa4a171e90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"
                                            class="card-img-top" alt="burger">
                                        <% } %>

                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= restaurant.name %>, <%= restaurant.location %>
                                                </h5>
                                                <p class="card-text">things are going well at <%= restaurant.name %>.
                                                        keep
                                                        it
                                                        up.
                                                </p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">

                                                    <% if (restaurant.type=="pizza-parlor" ) { %>
                                                        pizza parlor
                                                        <% } %>

                                                            <% if (restaurant.type=="icecream-shop" ) { %>
                                                                ice cream shop
                                                                <% } %>

                                                                    <% if (restaurant.type=="burger-place" ) { %>
                                                                        burger place
                                                                        <% } %>

                                                </li>
                                                <li class="list-group-item">profit: <%= restaurant.profit %>
                                                </li>
                                                <li class="list-group-item">rating: <%= restaurant.rating %>
                                                </li>
                                                <li class="list-group-item">employees: <%= restaurant.numEmployees %>
                                                </li>
                                                <li class="list-group-item">size: ADD
                                                </li>
                                            </ul>
                                            <div class="card-body">
                                                <a href="#" class="card-link btn btn-light">expand</a>
                                                <a href="#" class="card-link btn btn-light">hire new employee</a>
                                                <a href="#" class="card-link btn btn-light">marketing</a>
                                                <a href="#" class="card-link btn btn-light">edit restaurant</a>
                                            </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-warning mb-4">
                    <div class="card-body">
                        <h5 class="card-title mt-1">
                            menu
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">item1 ... $5</li>
                        <li class="list-group-item">item2 ... $5</li>
                        <li class="list-group-item">item3 ... $5</li>
                        <li class="list-group-item">item4 ... $5</li>
                        <li class="list-group-item">item5 ... $5</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-light">add new dishes</a>
                    </div>
                </div>

                <div class="card bg-warning">
                    <div class="card-body">
                        <h5 class="card-title mt-1">
                            supplies
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% if (restaurant.type=="pizza-parlor" ) { %>
                            <li class="list-group-item">NUMBER pizza dough</li>
                            <li class="list-group-item">NUMBER jars of marinara</li>
                            <li class="list-group-item">NUMBER mozzarella</li>
                            <li class="list-group-item">NUMBER pepperoni</li>
                            <li class="list-group-item">NUMBER olives</li>
                            <% } %>

                                <% if (restaurant.type=="icecream-shop" ) { %>
                                    <li class="list-group-item">NUMBER waffle cones</li>
                                    <li class="list-group-item">NUMBER scoops of vanilla</li>
                                    <li class="list-group-item">NUMBER scoops of chocolate</li>
                                    <li class="list-group-item">NUMBER scoops of strawberry</li>
                                    <li class="list-group-item">NUMBER sprinkles</li>
                                    <% } %>

                                        <% if (restaurant.type=="burger-place" ) { %>
                                            <li class="list-group-item">NUMBER buns</li>
                                            <li class="list-group-item">NUMBER beef patties</li>
                                            <li class="list-group-item">NUMBER slices of cheddar</li>
                                            <li class="list-group-item">NUMBER lettuce</li>
                                            <li class="list-group-item">NUMBER tomatoes</li>
                                            <% } %>

                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-light">buy supplies</a>
                        <a href="#" class="card-link btn btn-light">upgrade supplies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>